# IDE
.idea/
.vscode/

# Системные
.DS_Store
Thumbs.db

# Логи
*.log
*.pyc
__pycache__/

# Секреты (ВАЖНО!)
.env
config.py
secrets.json

# Временные файлы
*.tmp
*.temp!/images/team/4ce3a00f-2f48-4907-825d-c5a1a0c00dee.webp
